@import '@fontsource/fira-mono';

:root {
	--font-body: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--color-bg-0: rgb(202, 216, 228);
	--color-bg-1: hsl(209, 36%, 86%);
	--color-bg-2: hsl(224, 44%, 95%);
	--color-theme-1: #000000;
	--color-theme-2: #40b3ff;
	--color-text: rgba(0, 0, 0, 0.7);
	--black: #141414;
	--white: #ffffff;
	--orange: #f44336;
	--yellow: #d4bf00;
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	color: var(--color-text);

	// Potential palette #1
	// --salmon: #fa8072;
	// --dark-red: #8b0000;
	// --teal: #008080;
	// --light-blue: #add8e6;
	// --black: #141414;
	// --gray: #a9a9a9;
	// --white: #ffffff;

	// Potential palette #2
	// --pink: #f8d1cc;
	// --light-pink: #ffb6c1;
	// --bright-orange: #f5a623;
	// --light-yellow: #f0e68c;
	// --light-green: #90ee90;
	// --pale-blue: #add8e6;
	// --pale-blue-2: #87cefa;
	// --deep-purple: #9370db;
	// --white: #ffffff;
	// --black: #000000;

	// Potential palette #3
	// --warm-orange: #f9a01b;
	// --deep-red: #f15a29;
	// --soft-pink: #f8d1cc;
	// --soft-gray: #a9a9a9;
	// --deep-indigo: #4b0082;
	// --dark-green: #006400;
	// --deep-blue: #00008b;
	// --deep-brown: #964b00;
	// --white: #ffffff;
	// --black: #000000;
}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-color: var(--color-bg-1);
	background-size: 100vw 100vh;
	background-image: radial-gradient(
			50% 50% at 50% 50%,
			rgba(255, 255, 255, 0.75) 0%,
			rgba(255, 255, 255, 0) 100%
		),
		linear-gradient(180deg, var(--color-bg-0) 0%, var(--color-bg-1) 35%, var(--color-bg-2) 60%);
}

body.mobile {
	// force screen orientation to landscape
	@media (orientation: portrait) {
		& {
			transform: rotate(-90deg);
			transform-origin: 50% 50%;
			width: 100vh;
			height: 100vw;
			overflow-y: hidden;
		}
		.story-container {
			width: 100%;
			max-width: 100%;
			scroll-snap-align: start;
		}
	}
}

h1,
h2,
p {
	font-weight: 400;
}

p {
	line-height: 1.5;
}

a {
	color: var(--color-theme-1);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1.5rem;
	margin: 0;
	padding: 0;
}

h3 {
	font-size: 1rem;
	margin: 0;
	padding: 0;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color-text);
}

.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

.button {
	padding: 0.5rem 1rem;
	border: none;
	border-radius: 0.25rem;
	background-color: var(--orange);
	color: var(--white);
	font-weight: bold;
	cursor: pointer;
}

.input {
	padding: 0.5rem 1rem;
	border: none;
	border-radius: 0.25rem;
	background-color: white;
	color: black;
	font-weight: bold;
	cursor: pointer;
	transition: 0.3s;
	&:focus,
	&:active {
		outline: none;
		box-shadow: 0 0 0 1px #f44336;
	}
	&:hover {
		box-shadow: 0 0 8px 0.5px #f44336;
	}
}

.close {
	position: absolute;
	top: 0;
	right: 0;
	padding: 1rem;
	background-color: transparent;
	color: black;
	border: none;
	cursor: pointer;
	font-size: 1.5rem;
}
